/**
 * @name ChilloutVR-nightly
 * @author Inazumanotenshi
 * @description A theme, based on the new web- & ui-design of ChilloutVR.        
                Also dont forget to try the game out :D                                  
                https://chilloutvr.net                                     
                !other themes can make this break!
                - Sharing and upload allow by c ChilloutVR
 * @version 0.11.0 Preview 5
 * @authorLink https://github.com/Inazumanotenshi/
 * @updateUrl https://raw.githubusercontent.com/Inazumanotenshi/ChilloutVR-Theme/main/ChilloutVR-nightly.theme.css
 * @source https://github.com/Inazumanotenshi/ChilloutVR-Theme
 * @website https://blankinternational.com
 *
 * supported Plugins
 * BetterDiscord
 *  BDFDB, EditUser, SpotifyControls, ShowAllActionButtons, GameActivityToggle, Translate, PinDMs
 *
 * Vencord
 *  Default Units, EditUser, PinDMs, SpotifyControls, GameActivityToggle, ServerListIndicator, Vencord Toolbox, Translate, PinDMs
 *
 */

/*Puts your server list on top of Discord - comment out if you dislike*/
/*@import url('https://discordstyles.github.io/HorizontalServerList/HorizontalServerList.css');*/

._5e434347c823b592-content {
    margin-top: var(--custom-guild-list-width);
    overflow: visible !important;
}

#app-mount ._5e434347c823b592-sidebar {
    border-radius: 0;
    overflow: visible !important;
}

#app-mount ._5e434347c823b592-guilds {
    transform-origin: top left;
    rotate: -90deg;
    height: 100vw !important;
    bottom: unset;
    position: absolute !important;
    left: 0;
}

#app-mount .ef3116c2da186559-tree {
    padding-top: var(--HSL-top-padding, var(--size-sm));
}

#app-mount .cc5dd25190031396-wrapper,
#app-mount .cc5dd25190031396-upperBadge,
#app-mount .cc5dd25190031396-lowerBadge {
    rotate: 90deg !important;
}

.e5445cbd3ad226f2-blobContainer {
    rotate: -90deg; 
}

.cc5dd25190031396-lowerBadge ._2b1f52e43a8f1c02-numberBadge {
    background-color: var(--chillout-links) !important;
    color: var(--chillout-links);
}

#app-mount .ef3116c2da186559-itemsContainer,
#app-mount .dbd2630aec71879b-stack {
    flex-direction: var(--HSL-server-direction);
    justify-content: var(--HSL-server-alignment);
}

._5e434347c823b592-container > div[style]:not(._5e434347c823b592-base) {
    width: 100vw !important;
    height: var(--custom-guild-list-width) !important;
    position: absolute;
    top: calc(var(--custom-guild-list-width) + var(--custom-app-top-bar-height));
    pointer-events: none;
    z-index: 1;
}

._5e434347c823b592-container > div[style]:not(._5e434347c823b592-base) ._5e434347c823b592-guilds {
    pointer-events: all;
}

._5e434347c823b592-container > div[style]:not(._5e434347c823b592-base) + ._5e434347c823b592-base ._5e434347c823b592-content {
    margin-top: calc(var(--custom-guild-list-width) * 2);
}


:root {

    --HSL-server-direction: column; /* Direction of the server list. | OPTIONS: column, column-reverse | DEFAULT: column */
    --HSL-server-alignment: flex-start; /* Alignment of the server list. | OPTIONS: flex-start, center, flex-end | DEFAULT: flex-start */

    --ChilloutSymbol: url(https://github.com/Inazumanotenshi/ChilloutVR-Theme/blob/main/CVRImage.gif?raw=true);
    --chillout-hexagon-default: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
    --chillout-hexagon-hover: polygon(23.25% 0%, 69.75% 0%, 93% 43.3%, 69.75% 86.6%, 23.25% 86.6%, 0% 50%);
    --chillout-hexagon-folder: polygon(20% 6.7%, 80% 6.7%, 100% 50%, 80% 93.3%, 20% 93.3%, 0% 50%);
    --chillout-hexagon-longselection: polygon(10px 6.7%, calc(100% - 10px) 6.7%, 100% 50%, calc(100% - 10px) 93.3%, 10px 93.3%, 0% 50%);
    --chillout-hexagon-check: polygon(15% 6.7%, 85% 6.7%, 100% 50%, 85% 93.3%, 15% 93.3%, 0% 50%);
    --chillout-hexagon-high: polygon(10px 0%, calc(100% - 10px) 0%, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0% calc(100% - 10px), 0% 10px);
    --chillout-hexagon-bighigh: polygon(20px 0%, calc(100% - 20px) 0%, 100% 20px, 100% calc(100% - 20px), calc(100% - 20px) 100%, 20px 100%, 0% calc(100% - 20px), 0% 20px);
    
    /*resolution specific*/
    --userareaheight: 75px; /*1080p*/ /*18:9 | 22:9*/
}

.theme-dark {
    /*Theme specific*/
    --color-text: #FFFF;
    --color-textbg: #5f5f5f;
    --chillout-links: #ff3c00;
    --chillout-ping: #ff3c003a;
    --transparent: #ffffff00;
}

.theme-light {
    /*Theme specific*/
    --color-text: #292929;
    --color-textbg: #9c9c9c;
    --chillout-links: #ff3c00;
    --chillout-ping: #ff3c003a;
    --transparent: #ffffff00;
}

/*All*/
* {
    
}

/*------------------------------------Header-------------------------------------------*/

/*Title*/
.c38106a3f0c3ca76-bar {
    background-image: url(https://raw.githubusercontent.com/Inazumanotenshi/ChilloutVR-Theme/74e98451853369200870be2e5dd48f41f2f2e77e/ChillcordVR.svg);  
    background-size: 100px;
    background-repeat: no-repeat;  
    background-position: 15px 15px;
}

/*Windows buttons*/
._421edea01cb52e16-wordmarkWindows {
    background-color: var(--background-tertiary) !important;
}

.c38106a3f0c3ca76-winButtonClose {
    background-color: var(--chillout-links);
}

.c38106a3f0c3ca76-winButton svg polygon {
    fill: var(--color-text) !important;
}

/*-------------------------------------Settings----------------------------------------------*/

._8a031a135bfcb9ba-container.e4491282b6a5364a-modal {
    border: none;
    clip-path: var(--chillout-hexagon-bighigh);
}

/*Searchbar*/
.c7e9071ee8df9113-searchBar {
    border: none !important;
}

._0f0849b61557225e-container {
    background-color: var(--color-textbg) !important;
    clip-path: var(--chillout-hexagon-longselection) !important;
}

._0f0849b61557225e-container ._0ed4fc708cdbac0d-input {
    color: var(--color-text);
}

._0f0849b61557225e-container ._0ed4fc708cdbac0d-input::placeholder {
    color: var(--color-text);
}

/*selected tab*/
.aa8da23faa27393c-selected::after {
    --selected-tab-item-color: var(--chillout-links) !important;
}

.f8303a11ec48bef3-tab.aa8da23faa27393c-selected {    
    color: var(--chillout-links) !important;
    background-color: unset !important;
}

/*Buttons*/
.a22cb0c66246f5d3-button._201d5e8a3c09670a-lookOutlined,
._1fed1dd06c7aabf7-fieldButton .a22cb0c66246f5d3-button {
    clip-path: var(--chillout-hexagon-longselection);
    background-color: var(--color-textbg);
}

.a22cb0c66246f5d3-button.a22cb0c66246f5d3-sm.a22cb0c66246f5d3-primary {
    clip-path: var(--chillout-hexagon-longselection);
    background-color: var(--chillout-links);
}

/*replace Discord icon in symbol selection*/
._8a3d71a4c4dc2512-appIconSelection img[src="/assets/b17d7d96515d6d98856b.webp"] {
    content: var(--ChilloutSymbol);    
}

._8a3d71a4c4dc2512-appIconSelection,
._36dee59b8fa89219-themeSelection  {
    clip-path: var(--chillout-hexagon-default);
}

._23e6b439306f125a-contentRegion {
    background-color: var(--background-tertiary);
}

.aa8da23faa27393c-headerText,
._5345c24c6249bc5b-defaultColor {
    color: var(--chillout-links) !important;
}

.caf372efc4d47562-item {
    color: var(--color-text) !important;
    clip-path: var(--chillout-hexagon-longselection);
}

/*Disable Clippath on Tab in setting*/
.d6f9e90c3456ac40-tabBarItem {
    clip-path: unset;
}

/*parts that are not alligned to left*/
._7c0bae9243151ddd-flex {
    margin-left: 0% !important;
}

/*CheckBoxes & Sliders*/
._3f21e80f8677ec40-container {
    clip-path: var(--chillout-hexagon-check) !important;
    color: var(--color-textbg);
}

._3f21e80f8677ec40-container ._3f21e80f8677ec40-slider rect {
    clip-path: var(--chillout-hexagon-default);
    background: var(--color-text);
}

._3f21e80f8677ec40-slider svg {
    display: none;
}

._3f21e80f8677ec40-checked._3f21e80f8677ec40-container {
    background-color: var(--color-text) !important;
}

._3f21e80f8677ec40-checked._3f21e80f8677ec40-container ._3f21e80f8677ec40-slider rect {
    fill: var(--background-tertiary) !important;
    background-color: var(--background-tertiary) !important;
}

.colorStandard_c9946a a {
    color: var(--chillout-links);
}

/*Selections*/
.aa8da23faa27393c-item.aa8da23faa27393c-selected {
    clip-path: var(--chillout-hexagon-longselection);
    background-color: var(--color-textbg);
}

.aa8da23faa27393c-item {
    clip-path: var(--chillout-hexagon-longselection);
    color: var(--color-text) !important;
}

[role="radiogroup"] .aa8da23faa27393c-item {
    clip-path: var(--chillout-hexagon-high);
}

.aa8da23faa27393c-headerText {
    color: var(--chillout-links);
}

._88a69141dd70013a-info {
    color: var(--color-text);
}

/*dropdowns*/
.a16aea1526925c2c-popout {
    clip-path: var(--chillout-hexagon-bighigh);
    --background-tertiary: var(--color-textbg);
}

.a16aea1526925c2c-option {
    color: var(--color-text) !important;
}

/*slider*/
.a562c840daab72a7-barFill {
    background-color: var(--chillout-links) !important;
}

/*Mic test button*/
.micTestButton__169b3 {
    background-color: var(--chillout-links) !important;
    clip-path: var(--chillout-hexagon-longselection);
    width: max-content;
}

.micTestButton__169b3 div {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

/*example in language selection*/
._88a69141dd70013a-item._88a69141dd70013a-itemFilled {
    background-color: unset;
}

/*Checkboxes*/
._88a69141dd70013a-radioIndicator circle {
    display: none;
}

._88a69141dd70013a-radioIndicatorGroup{
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-radius: 2px !important;
    border-color: var(--color-text) !important;
}

._88a69141dd70013a-radioIndicatorGroup ._88a69141dd70013a-radioIndicatorChecked {
    margin-left: -2px;
    margin-top: -2px;
    width: 50%;
    height: 50%;
    border: 10px solid;
    border-radius: 2px !important;
    border-color: var(--color-text) !important;
}

/* all close buttons in settings*/
.e9e3ed8b8badfe05-contentHeader button {
    clip-path: var(--chillout-hexagon-default);
    background-color: var(--color-textbg);
    border-color: var(--color-textbg);
    color: var(--background-tertiary);
}

.e9e3ed8b8badfe05-contentHeader button:hover {
    clip-path: var(--chillout-hexagon-default);
    background-color: var(--chillout-links);
    border-color: var(--chillout-links);
    color: var(--color-text)
}

/*Popup for giftcode*/
.fffc15720e237bf1-copyInputDefault ._7c0bae9243151ddd-flex ._7c0bae9243151ddd-flex input {
    min-width: 600% !important;
}

.fffc15720e237bf1-copyInputDefault ._7c0bae9243151ddd-flex ._7c0bae9243151ddd-flex button {
    margin-left: 200% !important;
    clip-path: var(--chillout-hexagon-longselection) !important;
    background-color: var(--chillout-links);
}

/*Gifcode show*/
.d4883c8125f433a3-promotionCardLeftContainer {
    min-width: 70% !important;
}

.promotionCardButton_d4883c {
    max-width: 30%;
}

/*Giftcode input*/
.inputDefault__0f084._0ed4fc708cdbac0d-input::placeholder {
    color: var(--color-text) !important;
}

/*hotkey button*/
._201d5e8a3c09670a-button._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorBrand._201d5e8a3c09670a-sizeLarge._201d5e8a3c09670a-grow {
    background-color: var(--chillout-links);
    clip-path: var(--chillout-hexagon-longselection);
}

.f8303a11ec48bef3-tab {
    clip-path: none !important;
}

.f8303a11ec48bef3-tab.aa8da23faa27393c-selected {
    border-bottom-color: var(--chillout-links) !important;
}

/*Link area*/
._7df54e658bdcad78-socialLinks a svg,
._2debea61131de3de-clickable div span {
    color: var(--color-text) !important;
}

.edefb8e22d63c542-anchor span {
    color: var(--chillout-links) !important;
}

/*selected icon*/
.a16aea1526925c2c-selectedIcon {
    color: var(--chillout-links);
    clip-path: var(--chillout-hexagon-default) !important;
}

/*-------------------------Shop area content---------------------------------------*/

._084152b107f71237-heroHeaderButtonContainer button {
    clip-path: var(--chillout-hexagon-longselection);
}

._084152b107f71237-heroHeaderButtonContainer button:hover {
    background-color: var(--chillout-links);
    color: var(--color-text);    
}

.cardText_c3d04b .detailsWrapper_c3d04b .innerHover_c3d04b .buttonsContainer_c3d04b button,
.a22cb0c66246f5d3-button.a22cb0c66246f5d3-md.a22cb0c66246f5d3-primary {
    clip-path: var(--chillout-hexagon-longselection);
    background-color: var(--chillout-links);
}

._084152b107f71237-blockHeader button,
._084152b107f71237-endOfFeed button {
    clip-path: var(--chillout-hexagon-longselection);
    background-color: var(--chillout-links);
    border: none !important;
}

._084152b107f71237-blockHeader button:hover,
._084152b107f71237-endOfFeed button:hover {
    background-color: var(--color-text);
    color: var(--background-tertiary);
}

._084152b107f71237-featuredBlockButtonContainer button {
    clip-path: var(--chillout-hexagon-longselection);
}

._084152b107f71237-featuredBlockButtonContainer button:hover {
    background-color: var(--chillout-links);
    color: var(--color-text);
}


/*-------------------------Server selection area---------------------------------------*/

/*Discord Icon*/
._1f388bcaa446c0c8-tutorialContainer ._650eb104245d257b-listItem ._918165dab2b1e10b-listItemWrapper .cc5dd25190031396-wrapper .cc5dd25190031396-svg foreignObject ._6e9f8dce4cc18de3-wrapper[role="treeitem"] ._6e9f8dce4cc18de3-childWrapper {
    clip-path: var(--chillout-hexagon-default);
    content: var(--ChilloutSymbol);
}

._6e9f8dce4cc18de3-acronym {
    content: unset !important;
}

/*dms & server in folder*/
._6e9f8dce4cc18de3-icon {
    clip-path: var(--chillout-hexagon-default);
}

/*server folder*/
._48112cbe77dc5022-folderPreviewWrapper,
._48112cbe77dc5022-folderPreviewWrapper {
    clip-path: var(--chillout-hexagon-default);
}

/* server add, server search symbol */
._5bc7ed9d4097f6b5-circleIconButton {
  background-color: var(--color-text);
  color: var(--chillout-links);
  clip-path: var(--chillout-hexagon-default);
}

._5bc7ed9d4097f6b5-circleIconButton._5bc7ed9d4097f6b5-selected {
    clip-path: var(--chillout-hexagon-default);
    background-color: var(--chillout-links) !important; 
    color: var(--color-text) !important;
}

/*----------------------------------User side area-------------------------------------*/
.e6b7699ce8339e1c-privateChannels {
    background-color: var(--background-tertiary);
}

/*search bar*/
.e6b7699ce8339e1c-searchBar button {
    color: var(--color-text) !important;
    background-color: var(--color-textbg) !important;
    clip-path: var(--chillout-hexagon-longselection);
    text-align: center !important;
}

/*select*/
._972a0d22c8afa7f0-channel {
    clip-path: var(--chillout-hexagon-longselection);
}

/*Discord main points symbol*/
._972a0d22c8afa7f0-linkButtonIcon path {
    fill: var(--color-text);
}

/*usernames and list*/
._20a53846fe2e8513-name,
.activityText__972a0,
._37e49614b9f110a9-customStatus {
    color: var(--color-text);
}

/*user profile pictures*/
._44b0c28be7879b7b-avatarStack img {
    clip-path: var(--chillout-hexagon-default) !important;    
}

/*activity*/
._5e434347c823b592-activityPanel {
    background-color: var(--background-tertiary) !important;
}

._06d6249a1f2584ac-rtcConnectionStatusWrapper {
    max-width: 75%;
    overflow: visible;
}

/*user area*/
/*voice activity*/
.e131a99484292a19-wrapper {
    background-color: var(--background-tertiary);
}

._5e434347c823b592-panels {
    /*border: none !important;*/
    clip-path: var(--chillout-hexagon-bighigh);
}

._5e434347c823b592-panels:hover {
    clip-path: none;
    transition: clip-path 0.3s ease; /* Sanfter Übergang */
}


._0d6162a4e6a4b802-contentWrapper:hover {
    height: auto; /* Passt die Größe automatisch an */
    transition: height 0.3s ease; /* Sanfter Übergang */
}

._0d6162a4e6a4b802-contentWrapper {
    display: flex;
    flex-wrap: wrap; /* Inhalte umbrechen, falls nötig */
    justify-content: center; /* Zentriere den Inhalt */
}


._37e49614b9f110a9-container {
    background-color: var(--background-tertiary) !important;
    height: var(--userareaheight) !important;
    display: flex !important;
    container-type: inline-size !important;
}

/*username and pic align with buttons*/
._37e49614b9f110a9-avatarWrapper {
    display: flex !important;
}

/*user profile picture*/
._37e49614b9f110a9-avatar svg {
    height: 250% !important;
    margin-top: -45% !important;
}

/*name and status*/
._37e49614b9f110a9-nameTag {
    position: absolute;
    margin-top: -8% !important;
    margin-left: 22% !important;
}

.title_d1da5f,
._0263c8321829b3e8-hovered,
._339d0fce6b76910a-subtext {
    color: var(--color-text);
    overflow: hidden;
}

/*Toggle buttons in user area*/
._5e434347c823b592-panels ._37e49614b9f110a9-container ._37e49614b9f110a9-buttons {
    position: absolute;
    margin-top: 10% !important;
    left: 23% !important;
}

._37e49614b9f110a9-micButtonParent {
    margin-right: 0%;
}

._67645e1530f1195d-button {
    clip-path: var(--chillout-hexagon-default);
}

._5eb9b3cc7c2b1ce8-lottieIcon svg path {
    fill: var(--color-text) !important;
}

.listRow__9d78f {
    clip-path: var(--chillout-hexagon-longselection);
}

/*call actions*/
.e131a99484292a19-connection {
    margin-left: 5% !important; 
}

.e131a99484292a19-connection .e131a99484292a19-voiceButtonsContainer ._67645e1530f1195d-button {
    background-color: var(--color-textbg);
}

.e131a99484292a19-inner div {
    width: 129% !important;
}

._06d6249a1f2584ac-labelWrapper {
    margin-left: -60%;
    margin-top: 10% !important;
}

/*action buttons call*/
.e131a99484292a19-actionButtons {
    margin-left: 5%;
    margin-right: 5%;
    gap: 5% !important;
}

.e131a99484292a19-button {
    clip-path: var(--chillout-hexagon-longselection);
    background-color: var(--color-textbg) !important;
}

/*user speaking in call*/
.avatarSpeaking__44b0c {
    display: none;
}

/*popups for calls*/
/*camera*/
.modalRoot__19236,
._49fc18ba07c5025f-footer {
    background-color: var(--background-tertiary);
}

.media-engine-video {
    clip-path: var(--chillout-hexagon-high);
}

.a16aea1526925c2c-select {
    background-color: var(--color-textbg) !important;
    clip-path: var(--chillout-hexagon-longselection);
}

._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorBrand._201d5e8a3c09670a-sizeSmall._201d5e8a3c09670a-grow {
    background-color: var(--chillout-links);
    clip-path: var(--chillout-hexagon-longselection);
    width: 100%;
    margin-left: 10px;
}

/*call stream*/
._6981dc6d72610110-videoWrapper {
    clip-path: var(--chillout-hexagon-bighigh);
}

/*user profile card*/
.d1d9f3257b6b604c-container .d1d9f3257b6b604c-tabBar ._37bfcf3d457db7a9-tabBarItem {
    clip-path: none;
}

.button_fb7f94.banner_fb7f94._201d5e8a3c09670a-button._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorPrimary.color_f9d37d.banner_fb7f94 {
    clip-path: var(--chillout-hexagon-default);
}

.button_fb7f94.text_f1cdcc._201d5e8a3c09670a-button._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorPrimary.color_fcef98._201d5e8a3c09670a-sizeSmall._201d5e8a3c09670a-grow {
    clip-path: var(--chillout-hexagon-longselection);
}

._0c74f6fd004aa317-wrapper div {
    clip-path: var(--chillout-hexagon-default);
}

._0c74f6fd004aa317-wrapper div button {
    clip-path: unset;
}

/*Big User Card*/
.c0bea05627c5dc35-overlay.user-profile-modal.overlay__24502 {
    background-color: var(--background-tertiary);
    clip-path: var(--chillout-hexagon-bighigh);
}


/*user area information*/
._37bfcf3d457db7a9-tabBarItem.aa8da23faa27393c-item.aa8da23faa27393c-themed {
    clip-path: unset;
}

._37bfcf3d457db7a9-tabBarItem.aa8da23faa27393c-item.aa8da23faa27393c-selected.aa8da23faa27393c-themed div,
._37bfcf3d457db7a9-tabBarItem.aa8da23faa27393c-item.aa8da23faa27393c-selected.aa8da23faa27393c-themed {
    color: var(--chillout-links) !important;
    border-bottom-color: var(--chillout-links);
}

.fullSizeOverlayBackground_c69a7b.overlayBackground_c69a7b.overlay__24502 {
    background-color: var(--color-textbg);
    clip-path: var(--chillout-hexagon-bighigh);
}

.fullSizeOverlayBackground_c69a7b.overlayBackground_c69a7b.overlay__24502 .fcb62805acc5d0cc-scroller.d125d22cdfd32cfe-thin.d125d22cdfd32cfe-scrollerBase.d125d22cdfd32cfe-fade {
    background-color: var(--color-textbg) !important;
}

.button_fb7f94._201d5e8a3c09670a-button._201d5e8a3c09670a-lookFilled {
    clip-path: var(--chillout-hexagon-longselection);
}

._4bd5201c86a2042b-defaultColor span,
._4bd5201c86a2042b-defaultColor,
._5345c24c6249bc5b-defaultColor {
    color: var(--color-text);
}

.c0bea05627c5dc35-overlay.panel_c0bea0.b32ca49f97332e1b-overlay,
.c0bea05627c5dc35-overlay.panel_c0bea0._3b2602e558ef3de0-overlay {
    clip-path: var(--chillout-hexagon-bighigh);
    background-color: var(--color-textbg);
}

/*user popup card*/
.c0bea05627c5dc35-inner.user-profile-popout {
    background-color: var(--background-tertiary) !important;
}

._5be3ef42f92174b2-footer {
    background-color: var(--background-tertiary);
}

.a99829deaf601327-container._740174f3d6a2c8fe-channelTextArea {
    clip-path: var(--chillout-hexagon-high);
}

.a99829deaf601327-container._740174f3d6a2c8fe-channelTextArea .inner_a99829 {
    background-color: var(--color-textbg);
}

._06d6249a1f2584ac-rtcConnectionStatus ._06d6249a1f2584ac-labelWrapper {
    margin-top: 21px;
}

/*--------------------------------------friend list------------------------------------------*/
._133bf5eea8e33a34-container,
._9293f6b2fc12398a-container,
._9293f6b2fc12398a-container  {
    background-color: var(--background-tertiary) !important;
}

/*start new conversation*/
.createDMButtonContainer_e6b769 .a22cb0c66246f5d3-button.a22cb0c66246f5d3-sm
{
    background-color: var(--chillout-links);
    clip-path: var(--chillout-hexagon-longselection);
}

/*header*/
.theme_dark,
._9293f6b2fc12398a-themed {
    background-color: var(--transparent) !important;
}

/*User status*/
._19b6da809e654e70-text {
    color: var(--color-text);
}

/*Background of list*/
._133bf5eea8e33a34-peopleColumn {
    background-color: var(--background-tertiary);
}

._133bf5eea8e33a34-item.aa8da23faa27393c-item.aa8da23faa27393c-selected.aa8da23faa27393c-themed {
    color: var(--chillout-links) !important;
}

/*Add friend area*/
._72ba79a5dfa2ce86-addFriendInputWrapper {
    clip-path: var(--chillout-hexagon-bighigh);
    background-color: var(--color-textbg);
}

/*add friend button*/
._133bf5eea8e33a34-item._133bf5eea8e33a34-addFriend.aa8da23faa27393c-item.aa8da23faa27393c-themed {
    clip-path: var(--chillout-hexagon-longselection);
    background-color: var(--chillout-links) !important;
}

/*Add friend search bar*/
._0ed4fc708cdbac0d-inputWrapper._72ba79a5dfa2ce86-addFriendInput._72ba79a5dfa2ce86-inputText {
    min-width: 80%;
    width: 100%;
    background-color: var(--color-textbg);
}

.inputDefault__0f084._0ed4fc708cdbac0d-input._72ba79a5dfa2ce86-input._72ba79a5dfa2ce86-inputText {
    margin-left: 20px;
}

.inputDefault__0f084._0ed4fc708cdbac0d-input._72ba79a5dfa2ce86-input._72ba79a5dfa2ce86-inputText::placeholder {
    margin-left: 20px;
    color: var(--color-text);
}

/*seach bar*/
._5ec2fb8b5de26b21-searchBar {
    background-color: var(--color-textbg);
    clip-path: var(--chillout-hexagon-longselection);
}

.input_a45028 {
    margin-left: 5px;
}

.input_a45028::placeholder {
    color: var(--color-text);
}

.inner_a45028 div .iconContainer_a45028 {
    margin-right: 5px;
}

.inner_a45028 div .iconContainer_a45028 svg path{
    fill: var(--color-text);
}

/*user selection*/
.cc61794aab086a2e-peopleListItem {
    clip-path: var(--chillout-hexagon-longselection);
}

/*action buttons next to user*/
.fc004c9c041aaefa-actions .f8fa068db52f043f-actionButton {
    clip-path: var(--chillout-hexagon-default);
    background-color: var(--color-textbg);
}

.fc004c9c041aaefa-actions .f8fa068db52f043f-actionButton svg path {
    fill: var(--color-text);
}

/*activitys of friends*/
._7e549558f336cddb-emptyCard {
    clip-path: var(--chillout-hexagon-high);
    background-color: var(--color-textbg);
}

._7e549558f336cddb-emptyText {
    color: var(--color-text);
}

._7e549558f336cddb-itemCard {
    background-color: var(--color-textbg);
    clip-path: var(--chillout-hexagon-high);
    border: none;
}

._7e549558f336cddb-itemCard div ._00943886e1cf89d1-body {
    clip-path: var(--chillout-hexagon-high) !important;
}

._7e549558f336cddb-itemCard div div ._00943886e1cf89d1-section {
    background-color: var(--background-tertiary) !important;
}

._7e549558f336cddb-itemCard div div ._00943886e1cf89d1-textContent {
    color: var(--color-text) !important;
}

/*empty friend/block/open list*/
._5ec2fb8b5de26b21-emptyStateContainer {
    align-items: center !important;
}

/*--------------------------------------DM section-------------------------------------------*/
/*background*/
.f75fb00fb7356cbe-chatContent {
    background-color: var(--background-tertiary) !important;
}

/*title area*/
.f75fb00fb7356cbe-title {
    background-color: var(--background-tertiary) !important;
}

/*user avatars*/
._9293f6b2fc12398a-icon path {
    fill: var(--color-text);
}

/*profile pictures*/
.c19a557985eb7793-avatar.c19a557985eb7793-clickable {
    clip-path: var(--chillout-hexagon-default);
}


/*images*/
.af017ab847f75d02-imageWrapper {
    clip-path: var(--chillout-hexagon-high);
}

/*search message*/
._974928fe84ca9647-searchBar {
    background-color: var(--color-textbg) !important;
    clip-path: var(--chillout-hexagon-high);
    border: none;
}

/*app button*/
.e6e74fd4d1221f53-buttonContainer.app-launcher-entrypoint {
    background-color: var(--color-textbg);
    clip-path: var(--chillout-hexagon-default);
}

.e6e74fd4d1221f53-buttonContainer.app-launcher-entrypoint button {
    background-color: var(--color-textbg);
}

.iconContainer_fea832 {
    margin-right: 15%;
}

.public-DraftEditorPlaceholder-inner {
    color: var(--color-text);
    margin-left: 15%;
}

.icon_fea832 path {
    fill: var(--color-text);
}

/*message avatar*/
.c19a557985eb7793-avatar {
    clip-path: var(--chillout-hexagon-default);
}

/*message content*/
.c19a557985eb7793-messageContent {
    color: var(--color-text);
}

/*message input*/
.f75fb00fb7356cbe-channelTextArea {
    background-color: var(--background-tertiary);
    border: none;
}

._740174f3d6a2c8fe-scrollableContainer {
    background-color: var(--color-textbg);
    clip-path: var(--chillout-hexagon-high);
}

._1b31f471f0bb10ab-placeholder {
    color: var(--color-text);
}

/*edit message*/
._5126c0cd07f243a0-channelTextArea {
    border: none;
}

/*@persons*/
._13533e3c5791980f-autocomplete {
    clip-path: var(--chillout-hexagon-high);
}

._13533e3c5791980f-autocompleteInner ._6b0e07cbaf13ec4e-scroller {
    background-color: var(--color-textbg) !important;
}

/*attach button*/
._0923f156a0410684-attachButtonInner svg path { 
    fill: var(--color-text) !important;
}

._740174f3d6a2c8fe-buttons div svg path {
    fill: var(--color-text);
}

/*dm user inforamtion*/
.profilePanel_b433b4,
.userPanelOuter_c69a7b,  
.userPanelInner_c69a7b,
.d125d22cdfd32cfe-scrollerBase {
    background-color: var(--background-tertiary) !important;
}

._68edb95846a37624-banner {
    clip-path: var(--chillout-hexagon-high);
}

/*info cards*/
.overlayBackground_c69a7b {
    background-color: var(--background-tertiary);
}

/*Links in messages*/
.edefb8e22d63c542-anchor.edefb8e22d63c542-anchorUnderlineOnHover span {
    color: var(--chillout-links);
}

/*Note*/
.note_c90ad7 {
    background-color: var(--color-textbg);
    clip-path: var(--chillout-hexagon-high);
}

.note_c90ad7 textarea {
    margin: 1%;
    color: var(--color-text);
}

.note_c90ad7 textarea::placeholder {
    color: var(--color-text);
}

.assetsLargeImageUserPopoutV2_c1d9fd {
    clip-path: var(--chillout-hexagon-default);
}

/*server icon symbols*/
.f34534e8a5d3ca64-icon {
    clip-path: var(--chillout-hexagon-default);
}

/*user card buttons*/
._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-sizeMedium._201d5e8a3c09670a-grow {
    background-color: var(--color-textbg);
    clip-path: var(--chillout-hexagon-longselection);
}

/*Disable star cause of clipping*/
._3e3b0b1c0f688f9e-flowerStar {
    display: none;
}

/*app section*/
._927fca0ac7164d54-searchBarContainer {
    background-color: var(--background-tertiary);
}

.container_a45028.medium_a45028 {
    background-color: var(--color-textbg);
    clip-path: var(--chillout-hexagon-longselection);
}

.cb32c78a53f54371-container.cb32c78a53f54371-containerBorderRadius,
._19cf24ad0aef5ead-container {
    clip-path: var(--chillout-hexagon-high);
}

.bd6d20648de85ba8-icon {
    clip-path: var(--chillout-hexagon-default);
}

._927fca0ac7164d54-sectionRowsContentContainer._927fca0ac7164d54-sectionContentContainer {
    clip-path: var(--chillout-hexagon-bighigh);
}

/*----------------------------------------Server---------------------------------------------*/

/*Commit Buttons*/
.submitButton_d9be46 {
    max-width: 20%;
}

/*Input*/
._0ed4fc708cdbac0d-inputWrapper._89a343a153c6f2ec-flex {
    background-color: var(--color-textbg);
}

._89a343a153c6f2ec-inputMaxLength._89a343a153c6f2ec-flex {
    margin-left: 15px;
}

/*channel list & banner*/
.c8ffbb79449f399c-container,
.f37cb1984c371ee5-header {
    background-color: rgba(0, 0, 0, 0);
}

.f37cb1984c371ee5-container {
    z-index: 99;
}

.f37cb1984c371ee5-animatedContainer {
    background-color: var(--background-tertiary);
    box-shadow: none;
}

.f37cb1984c371ee5-bannerImage {
    clip-path: var(--chillout-hexagon-high);
}

._629e4c86564a4ee7-scroller {
    background-color: var(--background-tertiary);
}

/*channels*/
._2ea32c412048f708-wrapper {
    clip-path: var(--chillout-hexagon-longselection);
}

._00de6f6c14b53606-emptyChannelIcon {
    clip-path: var(--chillout-hexagon-default);
    background-color: var(--color-textbg);
}

/*USK18 warning*/
._7c0bae9243151ddd-flex._7c0bae9243151ddd-horizontal.abf7060e6f2beabe-justifyCenter.abf7060e6f2beabe-alignCenter.abf7060e6f2beabe-noWrap button {
    clip-path: var(--chillout-hexagon-longselection);
}

/*edit channel button*/
.aec7abc73c126bc0-button._201d5e8a3c09670a-lookBlank._201d5e8a3c09670a-colorBrand._201d5e8a3c09670a-sizeMin._201d5e8a3c09670a-grow {
    margin-left: -3% !important;
    color: var(--chillout-links);
    margin-bottom: -2% !important;
}

/*groups*/
._29444ba32c7fbeab-name._13cf1aa56cd732d2-container {
    color: var(--color-text);
}

/*user sidebar*/
._99f8cc7ad4790ce9-scrollerBase,
._99f8cc7ad4790ce9-content,
._13cf1aa56cd732d2-container,
._91a9d7f7e5248a56-container {
    background-color: var(--background-tertiary);
}

._13cf1aa56cd732d2-container span,
._5d473ecff348c314-member {
    color: var(--color-text);
}

._91a9d7f7e5248a56-container {
    clip-path: var(--chillout-hexagon-longselection);
}

/*Bot/Official tag*/
._82f0793afa59e5dc-botTag {
    background-color: var(--chillout-links);
}

/*Chats*/
/*Files*/
._0ccaee68b77c7469-file {
    background-color: var(--color-textbg) !important;
    clip-path: var(--chillout-hexagon-bighigh);
}

._0ccaee68b77c7469-fileNameLink {
    color: var(--chillout-links) !important;
    font-weight: bold;
}

._0ccaee68b77c7469-fileInner div {
    color: var(--color-text) !important;
}

/*Follow channel*/
._44df51b030bd5ece-wrapper {
    background-color: var(--color-textbg) !important;
    clip-path: var(--chillout-hexagon-bighigh);
}

._44df51b030bd5ece-buttonContainer button {
    clip-path: var(--chillout-hexagon-longselection);
    background-color: var(--chillout-links) !important;
}

/*Right click menu*/
.c1e9c47c23f12ca3-menu {
    /*clip-path: var(--chillout-hexagon-bighigh) !important;*/
    overflow: visible !important;
}

.c1e9c47c23f12ca3-menu .c1e9c47c23f12ca3-scroller {
    background-color: var(--color-textbg) !important;
    border: none;
}

/*-----------------------------------------Calls-------------------------------------------*/
.cb9592ad77576717-headerWrapper {
    background-color: var(--background-tertiary) !important;
}

/*picture in picture mode*/
.e4cb9af80253a521-pictureInPictureVideo,
.fb62e279d3f0a88a-background {
    clip-path: var(--chillout-hexagon-high);
}

.staticButton_f1ceac {
    clip-path: var(--chillout-hexagon-default);
}

/*Call action buttons*/

/*active*/
.f1ceaca61b18918e-white {
    background-color: var(--color-text) !important;
}

.f1ceaca61b18918e-white div div svg path{
    fill: var(--background-tertiary) !important;
}

/*inactive*/
.f1ceaca61b18918e-primaryDark {
    background-color: var(--background-tertiary) !important;
}

.f1ceaca61b18918e-primaryDark div div svg path{
    fill: var(--color-text) !important;
}

/*Server call actions*/
._1405b3b8e8eb5fd0-buttonSection,
._1405b3b8e8eb5fd0-buttonSection .f1ceaca61b18918e-attachedCaretButtonContainer,
._1405b3b8e8eb5fd0-buttonSection .f1ceaca61b18918e-attachedCaretButtonContainer div,
._1405b3b8e8eb5fd0-buttonSection .f1ceaca61b18918e-attachedCaretButtonContainer div button {
    clip-path: var(--chillout-hexagon-high) !important;
    background-color: var(--color-textbg) !important;
}

._1405b3b8e8eb5fd0-buttonSection .f1ceaca61b18918e-attachedCaretButtonContainer div button div {
    clip-path: unset !important;
}

/*-----------------------------------Activity Sidebar------------------------------*/
._133bf5eea8e33a34-nowPlayingColumn ._7d20cf18f8a2784c-container {
    background-color: var(--background-tertiary) !important;
}

._7e549558f336cddb-itemCard div ._00943886e1cf89d1-body {
    background-color: var(--background-tertiary) !important;
}

/*-----------------------------------Image actions----------------------------------*/
.cc1819cb49c2d109-actionButtons {
    background-color: var(--color-textbg) !important;
    clip-path: var(--chillout-hexagon-high);
    border: none;
}

.aec7abc73c126bc0-button._6088c3df6d10c76d-closeButton {
    background-color: var(--chillout-links) !important;
    clip-path: var(--chillout-hexagon-default);
}

.aec7abc73c126bc0-button._6088c3df6d10c76d-closeButton div svg path {
    fill: var(--color-text);
}

.aec7abc73c126bc0-button._6088c3df6d10c76d-closeButton:hover {
    background-color: var(--color-text) !important;
}

.aec7abc73c126bc0-button._6088c3df6d10c76d-closeButton:hover div svg path {
    fill: var(--chillout-links);
}

.b2eddf192f54b058-nav {
    clip-path: var(--chillout-hexagon-default);
    background-color: var(--color-textbg) !important;
    border: none;
}

.b2eddf192f54b058-nav div svg path {
    fill: var(--color-text);
}

/*-----------------------------------Voice Msgs actions----------------------------------*/
.a8e786485f0c32f8-container {
    clip-path: var(--chillout-hexagon-longselection);
    background-color: var(--color-textbg);
}

.a8e786485f0c32f8-playButtonContainer {
    clip-path: var(--chillout-hexagon-default);
    background: var(--chillout-links);
}

.a8e786485f0c32f8-playButtonContainer:hover {
    background: var(--color-text) !important;
}

.a8e786485f0c32f8-playButtonContainer:hover svg {
    color: var(--chillout-links);
}

.a8e786485f0c32f8-playing {
    background-color: var(--chillout-links) !important;
}


/*-------------------------------------BetterDiscord---------------------------------------*/

/*Update note*/
._6e2b9359c6f84cfd-colorInfo {
    background-color: var(--chillout-links);
}

.bd-toast {
    clip-path: var(--chillout-hexagon-longselection);
    background-color: var(--color-text);
    color: var(--background-tertiary);
}

.toast-success {
    background-color: var(--chillout-links) !important;
    color: var(--color-text);
}

/*BetterDiscord checkboxes*/
.bd-switch {
    clip-path: var(--chillout-hexagon-check) !important;
    color: var(--color-textbg);
}

.bd-switch .bd-switch-slider rect {
    clip-path: var(--chillout-hexagon-default);
    background: var(--color-text);
}

.bd-switch-slider svg {
    display: none;
}

.bd-switch-checked.bd-switch .bd-switch-body {
    background-color: var(--color-text) !important;
}

.bd-switch-checked.bd-switch .bd-switch-slider rect {
    fill: var(--background-tertiary) !important;
    background-color: var(--background-tertiary) !important;
}

.bd-sidebar-header-label {
    color: var(--chillout-links) !important;
}
/*BD Informations*/
._2debea61131de3de-info .bd-text-muted.bd-text-12 {
    color: var(--chillout-links);
}

.container__33507 {
    background-color: var(--color-textbg);
    clip-path: var(--chillout-hexagon-longselection);
}

.container__33507 div input {
    margin-left: 10px;
}

.container__33507 div input::placeholder {
    color: var(--color-text) !important;
}

.iconContainer__4d295 svg path {
    fill: var(--color-text) !important;
}

._49fc18ba07c5025f-close._201d5e8a3c09670a-button {
    clip-path: var(--chillout-hexagon-default);
    background-color: var(--color-text);
}

._49fc18ba07c5025f-close._201d5e8a3c09670a-button svg path {
    fill: var(--background-tertiary) !important;
}

._49fc18ba07c5025f-close._201d5e8a3c09670a-button:hover {
    clip-path: var(--chillout-hexagon-default);
    background-color: var(--chillout-links);
}

._49fc18ba07c5025f-close._201d5e8a3c09670a-button:hover svg path {
    fill: var(--color-text) !important;
}

.bd-search-wrapper {
    background-color: var(--color-textbg);
    color: var(--color-text) !important;
    clip-path: var(--chillout-hexagon-longselection);
}

.bd-search-wrapper input {
    margin-left: 10px !important;
}

.bd-search-wrapper svg {
    margin-right: 10px !important;
    fill: var(--color-text);
}

.bd-search-wrapper input::placeholder {
    color: var(--color-text);
}

._49fc18ba07c5025f-closeIcon path {
    fill: var(--color-text) !important;
}

/*Text in descriptions*/
.bd-description {
    color: var(--color-text) !important;
}

.bd-button-color-red {
    clip-path: var(--chillout-hexagon-longselection);
}

/*PluginSettings*/
.bd-text-input,
.bd-slider-marker,
.bd-slider-label {
    color: var(--color-text);
}

.bd-slider-track {
    background-image: linear-gradient(#ff3c00,#ff3c00);
}

.bd-button-color-brand.bd-button-medium {
    background-color: var(--chillout-links);
    color: var(--color-text);
    clip-path: var(--chillout-hexagon-longselection);
}

.bd-number-input,
.bd-text-input {
    background-color: var(--color-textbg);
    clip-path: var(--chillout-hexagon-longselection);
    color: var(--color-text);
}

.bd-select {
    clip-path: var(--chillout-hexagon-longselection);
    background-color: var(--color-textbg);
}

.bd-select.menu-open {
    clip-path: unset;
    background-color: var(--color-textbg);
}

/*----------Plugins-------------*/

/*Addoncards*/
.bd-addon-card {
    clip-path: var(--chillout-hexagon-bighigh);
}

.bd-button.bd-button-filled.bd-addon-button {
    clip-path: var(--chillout-hexagon-default);
}

/*BetterDiscord links and imagelinks*/
.bd-link {
    color: var(--chillout-links);
}

.bd-link svg{
    fill: var(--color-text) !important;
}

/*BetterDiscord edit buttons*/
.bd-addon-button.bd-button-color-brand {
    background-color: var(--color-textbg) !important;
}

/*BetterDiscord download*/
.button_coQXfM {
    background-color: var(--color-text) !important;
    color: var(--background-tertiary);
    clip-path: var(--chillout-hexagon-longselection);
}

.stat_eRknnn {
    color: var(--color-text) !important;
}

.repoHeader_2KfNvH {
    background-color: var(--background-tertiary);
}

/*Edit users*/
.fd297e0eff2da25e-marginBottom8 ._7c0bae9243151ddd-flex._7c0bae9243151ddd-horizontal.abf7060e6f2beabe-justifyStart.abf7060e6f2beabe-alignCenter.abf7060e6f2beabe-noWrap._49fc18ba07c5025f-header.hasSiblings_fRyjyl,
.fd297e0eff2da25e-marginBottom8 ._7c0bae9243151ddd-flex._7c0bae9243151ddd-horizontal.abf7060e6f2beabe-justifyStart.abf7060e6f2beabe-alignStretch.abf7060e6f2beabe-noWrap {
    background-color: var(--background-tertiary);
}

.container__0d850.settingsRow_o9Ft44.fd297e0eff2da25e-marginReset .labelRow__0d850 .control__0d850 {
    margin-right: 5px;
}

._201d5e8a3c09670a-button._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorBrand._201d5e8a3c09670a-sizeMedium._201d5e8a3c09670a-grow {
    background-color: var(--chillout-links);
}

._0ed4fc708cdbac0d-inputWrapper {
    clip-path: var(--chillout-hexagon-longselection);
}

._0ed4fc708cdbac0d-inputWrapper input {
    background-color: var(--color-textbg) !important;
}

/*Spotify Controls*/
.container_791eb8 {
    background-color: var(--background-tertiary);
}

.song_791eb8 {
    color: var(--chillout-links);
}

.interpret_791eb8 {
    color: var(--color-text) !important;
}

.cover_791eb8 {
    clip-path: var(--chillout-hexagon-default);
}

._2d3feb462957391b-flexHorizontal ._67645e1530f1195d-button._67645e1530f1195d-enabled._201d5e8a3c09670a-button div {
    color: var(--color-text);
}

.bar_791eb8 {
    background-color: var(--color-textbg) !important;
}

.barFill_791eb8 {
    background-color: var(--chillout-links) !important;
}

.barText_791eb8 div {
    color: var(--color-text);
}

.container_lsd8Sa .f8303a11ec48bef3-tabBar .f8303a11ec48bef3-tab {
    clip-path: unset;
}

._201d5e8a3c09670a-contents {
    color: var(--color-text);
}

/*PinDMs*/
._99f8cc7ad4790ce9-content h2 span {
    font-family: "Arial Narrow", "Courier New", monospace !important;
}

/*GameActivityToggle*/
.gameActivityToggleAdded_fd3fb5 {
    background-color: var(--background-tertiary) !important;
    height: var(--userareaheight);
    display: block;
}

.gameActivityToggleAdded_fd3fb5 ._37e49614b9f110a9-avatarWrapper ._37e49614b9f110a9-nameTag {
    margin-left: 23% !important;
}

.gameActivityToggleAdded_fd3fb5 ._37e49614b9f110a9-buttons {
    gap: 10px;
}

.gameActivityToggleAdded_fd3fb5 ._37e49614b9f110a9-buttons .gameActivityToggleButton_fd3fb5 {
    margin-left: 350% !important;
}

/*Server Details Plus*/


/*----------Themes-------------*/

/*ChilloutVR*/
#ChilloutVR-card .bd-description-wrap,
#ChilloutVR-minified-card .bd-description-wrap,
#ChilloutVR-nightly-card .bd-description-wrap {
    background-image: url(https://gamefabrique.com/i/pc/chilloutvr.jpg);
    background-size: cover !important;
    background-position: center;
    background-blend-mode: hue;
    background-color: rgba(0, 0, 0, 0.5);
}

/*Horizontal Server list*/
._48112cbe77dc5022-folderGroupBackground,
._48112cbe77dc5022-folderGroupBackground {
    border-radius: unset !important;
    background-color: var(--color-textbg) !important;
    clip-path: var(--chillout-hexagon-high) !important;
}

/*---------------------------------------Vencord-------------------------------------------*/

/*----------Plugins-------------*/

/*Default Units*/
.vc-settings-tab-bar-item {
    clip-path: none !important;
}

._201d5e8a3c09670a-disabledButtonWrapper {
    clip-path: var(--chillout-hexagon-longselection);
}

._201d5e8a3c09670a-button._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorRed._201d5e8a3c09670a-sizeSmall._201d5e8a3c09670a-grow {
    clip-path: var(--chillout-hexagon-longselection);
}

.vc-plugins-info-card {
    clip-path: var(--chillout-hexagon-bighigh);
    border: none;
    background-color: var(--color-textbg);
}

.vc-plugins-info-card,
.vc-settings-card,
.vc-plugins-grid .vc-addon-card {
    clip-path: var(--chillout-hexagon-bighigh);
    border: none !important;
    background-color: var(--color-textbg) !important;
}

.vc-settings-quickActions-card {
    border: none !important;
    background-color: var(--background-tertiary) !important;
}

.vc-settings-quickActions-pill {
    clip-path: var(--chillout-hexagon-high);
    background-color: var(--color-textbg) !important;
}

/*VencordToolbox*/
.vc-toolbox-btn svg path {
    fill: var(--chillout-links) !important;
}

/*WhoReacted*/
._183c2cc3c55377b0-clickableAvatar {
    clip-path: var(--chillout-hexagon-default);
}

/*----------Themes-------------*/

/*ChilloutVR*/
.vc-settings-theme-grid .vc-addon-card {
    clip-path: var(--chillout-hexagon-bighigh);
    border: none !important;
    background-image: url(https://gamefabrique.com/i/pc/chilloutvr.jpg);
    background-size: cover !important;
    background-position: -5px;
}
